<div class="new-session-page" class="session-page">
  <div class="new-session form">
    <%= form_tag "/sessions" do %>
      <div class="form-field">
        <%= label_tag :email, t("email") %><br>
        <%= text_field_tag :email %>
      </div>
      
      <div class="form-field">
        <%= label_tag :password, t("password") %><br>
        <%= password_field_tag :password %>
      </div>
    
      <%= submit_tag t("session.login") %>
    <% end %>
  </div>
</div>