<!DOCTYPE html>
<html>
<head>
  <title>RubyclubBy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top-panel">
    <% if admin? %>
      <%= link_to "Написать статью", new_article_path, id: "logo" %> | 
      <%= link_to t("session.logout"), logout_path %>
    <% else %>
      <%= link_to t("session.login"), login_path %>
    <% end %>
  </div>
  
  <div id="header">
    <%= link_to image_tag("logo.png"), root_path, id: "logo" %>
    <%= link_to "О сайте", about_path, id: "about-link" %>
  </div>
  
  <% flash.keys.each do |key| %>
    <div class="flash <%= key %>">
      <%= flash[key] %>
    </div>
  <% end %>
  
  <div id="rubyclub">
    <%= yield %>
  </div>
  
  <div id="footer">
  </div>
</body>
</html>
